---
import "../styles/global.css";
import { SITE } from "../consts";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
const metaDescription = description || SITE.subtitle;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={metaDescription} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={SITE.url} />
    <title>{title}</title>
  </head>
  <body>
    <div class="layout">
      <slot />
    </div>
  </body>
</html>

<style>
  .layout {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 20px;
  }
</style>
